
body {
  background-color: white;
}

.header,
.refresh,
.form-header,
.submit,
.table-header,
.score {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 600;
  color: black;
}

.refresh,
.submit-btn {
  background-color: white;
  box-shadow: 2px 4px;
  border: black solid;
}

.score:nth-child(odd) {
  background-color: #b9bdc1;
}

.user,
.Score {
  font-family: 'Comic Neue', sans-serif;
  font-weight: 600;
  color: black;
  border: solid black 2px;
}

.message {
  opacity: 0;
  transition: opacity 1s;
  font-family: 'Comic Neue', sans-serif;
  font-weight: 600;
  color: black;
}
